.in-prog-calendar {
    padding: 0 1rem 0 2rem;
}

.active-calendar {
    /* background-color: white; */
    background-color: rgba(140, 220, 255, .75);
}

.in-prog-calendar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    cursor: pointer;
    padding-left: 1rem;
}

.in-prog-controls {
    padding-left: 1rem;
}