.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    min-height: 25rem;
    width: 35rem;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: rgb(200, 200, 200) 5px 5px 25px;
    border-radius: 1.5rem;
}

.login-title {
    width: 60%;
    font-size: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.credentials {
    width: 100%;
}

.username, .password {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.25rem;
}

.username input, .password input {
    height: 2rem;
    border-radius: .5rem;
    border: 1px solid rgb(25, 25, 75);
    font-size: 1.25rem;
    color: rgb(25, 25, 75);
    padding-left: .35rem;
}

.login label {
    align-self: flex-start;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.remember-me input {
    accent-color: rgb(25, 25, 75);
}

.login-form a {
    /* text-decoration: none; */
    /* color: rgb(50, 100, 255); */
    color: rgb(25, 25, 75);
}

.login-button {
    width: 100%;
    border-radius: 1rem;
}