.calendar-main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid yellowgreen;
}

.calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    max-width: 120rem;
    max-height: 50rem;
}

.calendar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.title-pencil {
  margin-bottom: -.5rem;
}

.calendar-name {
  font-size: 3rem;
}

.edit-name-input {
  height: 3rem;
  font-size: 2.5rem;
  width: 80%;
  color: rgb(25, 25, 75);
}

.edit-name-input:focus {
  border: 2px solid rgb(25, 118, 210);
  outline: 0;
}

.check-icon:hover {
  color: rgb(0, 200, 0);
  cursor: pointer;
}

.cancel-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-dates {
  display: flex;
  width: 32rem;
  justify-content: space-between;
}

.calendar-select {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 2rem;
}

.new-label {
  font-size: 1.25rem;
  line-height: 1;
}

.date-confirm {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  transform: translateX(100%);
}

.date-check:hover {
  color: rgb(0, 200, 0);
  cursor: pointer;
}

.date-cancel:hover {
  color: red;
  cursor: pointer;
}