.toolbar-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.nav-container {
    z-index: 100;
    position: absolute;
    display: flex;
    width: 20rem;
    height: calc(100% - 4px);
    top: 2px;
    background-color: rgba(255, 255, 255, .5);
}

.dashboard-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}

.dashboard-nav-title {
    font-size: 2rem;
}

.nav-show {
    transform: translateX(0);
    transition: transform .5s ease;
}

.nav-hide {
    transform: translateX(calc(-18.5rem - 2px));
    transition: transform .5s ease;
}

.nav-hideshow {
    position: relative;
    height: 100%;
    width: 1.5rem;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.nav-hideshow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 2.5rem;
    border-radius: 0 1.25rem 1.25rem 0;
}

.nav-hideshow-btn:hover {
    cursor: pointer;
}

.nav-arrow {
    transform: rotate(45deg) translateX(-.275rem) translateY(.275rem);
    width: 1rem;
    height: 1rem;
    border-top: 2px solid rgb(25, 25, 75);
    border-right: 2px solid rgb(25, 25, 75);
}

.nav-arrow-rotated {
    transform: rotate(225deg) translateX(-.175rem) translateY(.175rem);
}

.toolbar {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}

.toolbar-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toolbar-title {
    width: 100%;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
}

.toolbar-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 1rem;
}

.toolbar-section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.75rem;
    margin: 0 1rem;
    margin-bottom: .25rem;
    padding-bottom: .125rem;
    border-bottom: 2px solid rgba(140, 220, 255, .5);
}

.calendar-menu {
    position: relative;
    width: 100%;
}

.new-calendar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: calc(100% - 2rem);
    font-size: 2rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgba(140, 220, 255, .5);
    /* border-radius: 1rem; */
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
}

.new-calendar-button:hover {
    background-color: white;
    /* box-shadow: inset rgba(140, 220, 255, 1) 0px 0px 20px 2px; */
}

.new-calendar-button:active {
    background-color: rgba(140, 220, 255, .25);
}

/* .toolbar .menu-title, .form-title {
    font-size: 1.75rem;
    padding: 0 1rem;
} */

/* .toolbar-section:hover {
    background-color: rgba(255, 255, 255, .5);
} */

/* .menu-title:hover {
    background-color: rgba(255, 255, 255, .5);
} */

/* .selected {
    background-color: rgba(255, 255, 255, .5);
} */