.whoitsfor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 40rem;
    margin-bottom: 4rem;
}

.who-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}