.modal-overlay {
    z-index: 10000;
    position: absolute;
    width: 100dvw;
    top: -4rem;
    bottom: -13.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: rgb(200, 200, 200) 5px 5px 25px;
}

.modal-buttons {
    display: flex;
    gap: 1.5rem;
}

.modal-buttons button {
    height: 2rem;
    width: 10rem;
    font-size: 1.25rem;
    font-variant: normal;
    margin: 5px;
}

.modal-buttons-change-calendars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.modal-buttons-change-calendars button {
    height: 2rem;
    width: 10rem;
    font-size: 1.25rem;
    font-variant: normal;
}

.change-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.modal-cancel-button {
    font-size: 1.25rem !important;
    width: 10rem !important;
}

.disable-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    line-height: 1;
}