.recurrence-modal-overlay {
    z-index: 100;
    position: absolute;
    width: 100dvw;
    top: -4rem;
    bottom: -13.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
}

.recurrence-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	transform: translateY(-4.5rem);
    gap: 1rem;
    width: 27.5rem;
    font-size: 1.5rem;
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: rgb(200, 200, 200) 5px 5px 25px;
}