* {
    box-sizing: border-box;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    height: 4rem;
    padding: 0 10%;
    background-color: rgba(255, 255, 255, .5);
}

section {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    padding: 0 8px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, .5);
    animation: fadeIn .25s;
    cursor: pointer;
}

@keyframes fadeIn {
    0% { background-color: rgba(255, 255, 255, 0) }
    100% { background-color: rgba(255, 255, 255, .5) }
}

.logo-title {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    padding: 0 8px;
    cursor: pointer;
}