.who-card-container {
    display: flex;
    gap: 2rem;
    width: 80%;
    min-width: 40rem;
}

.left-orientation {
    justify-content: flex-start;
    text-align-last: right;
}

.right-orientation {
    justify-content: flex-end;
    text-align-last: left;
}

.who-img-container {
    aspect-ratio: 3 / 2;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.card-headline {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.who-description-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    text-align: justify;
}

.who-description {
    font-size: 1.25rem;
}