.dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-height: 100%;
    width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.dashboard-calendar-support {
    display: flex;
    gap: 1.5rem;
    width: 70%;
    max-width: 60rem;
}

.support-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15rem;
    background-color: #8CDCFF;
    border-radius: 1.5rem;
}