.task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.task-input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.task-container input {
	color: rgb(25, 25, 75);
	padding-left: .25rem;
	background-color: rgba(140, 220, 255, .25);
	border: 0px;
	height: 2rem;
	font-size: 1.25rem;
}

.point-value {
	display: flex;
	text-align: end;
	font-size: .75rem;
	width: 2rem;
	height: 2rem;
}

.points {
	width: 2.5rem;
}

.task-container input::-webkit-input-placeholder {
    color: rgba(25, 25, 75, .25);
}

.task-container input:focus {
    outline: 2px solid rgba(140, 220, 255, .75);
}

.remove-task-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	font-variant: normal;
	height: 2rem;
}

.recurring {
	align-self: flex-start;
	font-size: 1rem;
	color: rgb(25, 25, 75);
}