.style-blot-container {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 24rem;
    width: 100%;
    overflow: hidden;
}

.style-blot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blot1 {
    height: 50rem;
    width: 50rem;
    transform: translate(-90%, -50%);
    background: radial-gradient(20rem, rgba(0, 255, 255, .25), transparent);
    mix-blend-mode: color-burn;
}

.blot2 {
    height: 50rem;
    width: 50rem;
    transform: translate(-45%, -50%);
    background: radial-gradient(20rem, rgba(162, 0, 255, .25), transparent);
    mix-blend-mode: color-burn;
}

.blot3 {
    height: 70rem;
    width: 70rem;
    transform: translate(-10%, -50%);
    background: radial-gradient(30rem, rgba(0, 38, 255, .25), transparent);
    mix-blend-mode: color-burn;
}

.blot4 {
    height: 50rem;
    width: 50rem;
    transform: translate(50%, 15%);
    background: radial-gradient(25rem, rgb(225, 240, 255), transparent);
}

.blot5 {
    height: 110rem;
    width: 110rem;
    transform: translate(-65%, 0%);
    background: radial-gradient(55rem, rgba(255, 0, 238, .25), transparent);
}

.blot6 {
    height: 50rem;
    width: 50rem;
    transform: translate(20%, 25%);
    background: radial-gradient(25rem, rgba(0, 255, 255, .25), transparent);
}