.createcard-container {
    position: relative;
    transform: translateX(-15%);
}

.dashed-arrow-container {
    position: absolute;
    height: 50%;
    width: 6rem;
    transform: translate(60%, 170%);
}

.dashed-arrow-line {
    height: 100%;
    border-radius: 0 2rem;
    border-left: 6px dotted rgb(150, 150, 150);
    border-bottom: 6px dotted rgb(150, 150, 150);
}

.dashed-arrow-tip {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: 1.5rem solid rgb(150, 150, 150);
    transform:  translateX(8px)
                translateY(calc(50% - 3px));
}
