.process-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40rem;
}

.process-headline {
    font-size: 2rem;
    padding: 1rem 0;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    width: 100%;
    height: 100%;
}

/* ARROW CSS BELOW */

/* .arrow-container {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: calc(80% - 4rem);
}

.card-arrow {
    height: 40px;
    width: 40px;
}

svg:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: aqua;
    cursor: pointer;
} */
